@model IEnumerable<NewBlog.Domain.Entities.Comment>

    <div class="row">
    @foreach (var item in Model)
    {
        <div class="comment-date">
           @Html.Raw(item.CommentedOn)
        </div>
        <div class="comment-user">
            @Html.Raw(item.User.Username)
        </div>
        <div class="comment-body">
            @Html.Raw(item.Description)
        </div>
        <br />
        @* <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CommentId }) |
                @Html.ActionLink("Details", "Details", new { id=item.CommentId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CommentId })
            </td>
        *@
    }
    </div>

