<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Blog", "Posts", "Blog", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav categories">
                    <li>@Html.ActionLink("Posts", "Posts", "Blog")</li>
                    <li>@Html.ActionLink("About", "About", "Blog")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Blog")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                @RenderBody()
            </div>
            <br />
            <div class="col-md-3">
                <div id="midCol" class="sidebar-nav pull-right center-block" data-spy="affix" data-offset-top="300">
                    <div class="well">
                        @Html.Partial("_Search")
                    </div>
                   
                    <div class="sidebar">
                        @Html.Action("Sidebars", "Blog")
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer class="col-lg-offset-1">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
