    @if (User.Identity.IsAuthenticated)
    {
        <ul class="nav navbar-nav pull-right">
            <li>@Html.ActionLink("Logout", "Logout")</li>
        </ul>
        <p class="nav navbar-text pull-right">
            Hello, @User.Identity.Name            
            @{
                if (Roles.GetRolesForUser().Length > 0)
                {
                    @Roles.GetRolesForUser()[0]
                }
            }           
        </p>
    }
    else
    {
        <ul class="nav navbar-nav pull-right">
            <li>@Html.ActionLink("Register", "Register")</li>
            <li>@Html.ActionLink("Login", "Login")</li>
        </ul>
    }