@using NewBlog.Domain.Entities;
@model Post

<div class="post">
    <div class="post-meta">
        <div class="row">

            <!--Heading-->
            <div class="post-title">
                <h2>@Html.PostLink(Model)</h2>
            </div>

        </div>

        <div class="row">

            <!--Category-->
            <div class="post-category">
                <span>Category: </span>@Html.CategoryLink(Model.Category)
            </div>

            <!--Tags-->
            <div class="post-tags">
                <span>Tags:</span>@Helpers.Tags(Html, Model.Tags)
            </div>

            <!--Posted date-->
            <div class="posted-date">
                @Model.PostedOn.ToConfigLocalTime()
            </div>
            @{
                bool isLiked = Model.Likes.Any(l => l.User.Username == User.Identity.Name);
                string style = @isLiked ? "glyphicon glyphicon-heart" : "glyphicon glyphicon-heart-empty";
            }
            <input id="like_@Model.Id"type="checkbox" checked="@isLiked" class="@style" onchange="SendLike(@Model.Id, this.checked)">
            <span>@Model.Likes.Count</span>
        </div>

    </div>

    <!--Short Description-->
    <div class="post-body">
        @Html.Raw(Model.ShortDescription)
    </div>

    <div class="post-foot">
        @Html.ActionLink("Continue", "Post", "Blog",
        new
        {
            id = Model.Id,
        },
        new { title = "Continue" }
    )
    </div>
</div>
<style>
    .glyphicon:before {
 visibility: visible;
}

input[type=checkbox].glyphicon{
    visibility: hidden;    
}
</style>
<script type="text/javascript">
    function SendLike(postId, state, likesCount) {
        $.ajax({
            type: "POST",
            url: "/AddLike",
            dataType: 'json',
            data: {
                postId: postId,
                state: state
            },
            success: function () {
                $('#like_' + postId).toggleClass('glyphicon glyphicon-heart').toggleClass('glyphicon glyphicon-heart-empty');
                var likesCount = parseInt($('#like_' + postId).next().text(), 10);

                $('#like_' + postId).next().text(state ? (likesCount + 1) : (likesCount - 1));

            }
        });

    }
</script>

