@using NewBlog.Domain.Entities;
@model Post

<div class="post">
    <div class="post-meta">
        <div class="row">

            <!--Heading-->
            <div class="post-title">
                <h2>@Html.PostLink(Model)</h2>
            </div>

        </div>

        <div class="row">

            <!--Category-->
            <div class="post-category">
                <span>Category: </span>@Html.CategoryLink(Model.Category)
            </div>

            <!--Tags-->
            <div class="post-tags">
                <span>Tags:</span>@Helpers.Tags(Html, Model.Tags)
            </div>

            <!--Posted date-->
            <div class="posted-date">
                @Model.PostedOn.ToConfigLocalTime()
            </div>

        </div>

    </div>

    <!--Short Description-->
    <div class="post-body">
        @Html.Raw(Model.ShortDescription)
    </div>

    <div class="post-foot">
        @Html.ActionLink("continue...", "Post", "Blog",
        new
        {
            id = Model.Id,
        },
        new { title = "continue..." }
    )
    </div>
</div>
