@using NewBlog.Domain.Entities;
@model Post
    <article class="card">
    <header class="card__thumb">
        <a href='@Url.Action("Post", "Blog", new { id = Model.Id})'>
            <img src='@Url.Content(Model.ImgUrl)' />
        </a>
    </header>
    @{
        int month = Model.PostedOn.Month;
        string monthWord = System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetMonthName(month);
    }
    <div class="card__date">
        <span class="card__date__day">@Model.PostedOn.Day</span>
        <span class="card__date__month">@monthWord</span>
    </div>
    <div class="card__body">
        <div class="card__category">@Html.CategoryLink(Model.Category)</div>
        <div class="card__title"><a href='@Url.Action("Post", "Blog", new { id = Model.Id})'>@Html.PostLink(Model)</a></div>
        <div class="card__subtitle">@Helpers.Tags(Html, Model.Tags)</div>
        <p class="card__description">@Html.Raw(Model.ShortDescription)</p>
    </div>
    @{
        bool isLiked = Model.Likes.Any(l => l.User.Username == User.Identity.Name);
        string style = @isLiked ? "glyphicon glyphicon-heart" : "glyphicon glyphicon-heart-empty";
        bool isLogged = !string.IsNullOrEmpty(User.Identity.Name);
    }
    <footer class="card__footer">
        <span>
            <input id="like_@Model.Id" type="checkbox" checked="@isLiked" class="@style like" onchange="SendLike(@Model.Id, this.checked, @isLogged)">
            <span id="likesCount">@Model.Likes.Count</span>
        </span>
        <span class="icon icon--comment">@Model.Comments.Count comments</span>
    </footer>
</article>



<style>
    .glyphicon:before {
        visibility: visible;
    }

    input[type=checkbox].glyphicon {
        visibility: hidden;
    }
</style>
<script type="text/javascript">
    function SendLike(postId, state, isLogged) {
        if (isLogged) {
            $.ajax({
                type: "POST",
                url: "/AddLike",
                dataType: 'json',
                data: {
                    postId: postId,
                    state: state
                },
                success: function (response) {
                    $('#like_' + postId).toggleClass('glyphicon glyphicon-heart').toggleClass('glyphicon glyphicon-heart-empty');

                    $('#like_' + postId).next('#likesCount').text(response.likesCount);

                }
            });
        }
    }
</script>
