@model IEnumerable<NewBlog.Domain.Entities.Post>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="table-title">
    <h3>Data Table</h3>
</div>
@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.ShortDescription)
                    </th>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.Tags)
                    </th>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.PostedOn)
                    </th>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.Modified)
                    </th>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.Published)
                    </th>
                </tr>
            </thead>
            <tbody class="table-hover">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-left">
                            @Html.ActionLink(item.Title, "Edit", new { id = item.Id })
                        </td>
                        <td class="text-left">
                            @Html.Raw(item.ShortDescription)
                        </td>
                        <td class="text-left">
                            @Html.CategoryLink(item.Category)
                        </td>
                        <td class="text-left">
                            @Helpers.Tags(Html, item.Tags)
                        </td>
                        <td class="text-left">
                            @item.PostedOn.ToConfigLocalTime()
                        </td>
                        <td class="text-left">
                            @item.Modified
                        </td>
                        <td class="text-left">
                            @Html.DisplayFor(m => item.Published)
                        </td>

                        <td>
                            @Html.ActionLink(" ", "Edit", new { id = item.Id },
                new { @class = "btn btn-warning btn-sm glyphicon glyphicon-edit" })

                            @using (Html.BeginForm("Delete", "Admin"))
                    {
                                @Html.Hidden("id", item.Id)
                                <input type="submit" class="btn btn-danger btn-xs"
                                       onclick="return confirm('Are you sure you want to delete this Post?');"
                                       value="Delete" />
                    }
                        </td>

                    </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
<p>No posts found!</p>
}
