@using NewBlog.Domain.Entities;
@model Post

<div class="jumbotron">
    <div class="post-meta">
        <div class="row">

            <!--Heading-->
            <div class="post-title">
                <h2>@Html.PostLink(Model)</h2>
            </div>

        </div>

        <div class="row">
            <div class="post-category">
                <span class="glyphicon glyphicon-bookmark">Category:</span>@Html.CategoryLink(Model.Category)
            </div>
            <div class="post-tags">
                @Helpers.Tags(Html, Model.Tags)
            </div>
        </div>
    </div>
    <br />
    <div class="post-foto">
        <a href='@Url.Action("Post", "Blog", new { id = Model.Id})'>
            <img src='@Url.Content(Model.ImgUrl)' />
        </a>
    </div>
    <div class="post-body">
        <p>@Html.Raw(Model.ShortDescription)</p>
    </div>
    <div>
        <span class="badge">Posted @Model.PostedOn.ToConfigLocalTime()</span>

        @{
            bool isLiked = Model.Likes.Any(l => l.User.Username == User.Identity.Name);
            string style = @isLiked ? "glyphicon glyphicon-heart" : "glyphicon glyphicon-heart-empty";
            bool isLogged = !string.IsNullOrEmpty(User.Identity.Name);

        }
        <input id="like_@Model.Id" type="checkbox" checked="@isLiked" class="@style like" onchange="SendLike(@Model.Id, this.checked, @isLogged)">
        <span id="likesCount">@Model.Likes.Count</span>
        <span>@Model.Comments.Count</span>
        <div class="btn btn-primary btn-sm pull-right">

            @Html.ActionLink("Read More", "Post", "Blog",
        new
        {
            id = Model.Id
        },
        new { title = "Read More", style = "color: white" })
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
    </div>
</div>
<style>
    .glyphicon:before {
        visibility: visible;
    }

    input[type=checkbox].glyphicon {
        visibility: hidden;
    }
</style>
<script type="text/javascript">
    function SendLike(postId, state, isLogged) {
        if (isLogged) {
            $.ajax({
                type: "POST",
                url: "/AddLike",
                dataType: 'json',
                data: {
                    postId: postId,
                    state: state
                },
                success: function (response) {
                    $('#like_' + postId).toggleClass('glyphicon glyphicon-heart').toggleClass('glyphicon glyphicon-heart-empty');

                    $('#like_' + postId).next('#likesCount').text(response.likesCount);

                }
            });
        }
    }
</script>

