@model NewBlog.Domain.Entities.Comment
@{
    Layout = null;
}
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-6">
            <div class="widget-area no-padding blank">
                <div class="status-upload">

                    @using (Html.BeginForm("AddComment", "Blog"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.PostId)

                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { placeholder = "What are you doing right now?" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
