@model IEnumerable<NewBlog.Domain.Entities.Post>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    @if (Model.ToList().Count > 0)
        {
        <div class="table-responsive">
            <table class="table table-striped table-condensed table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShortDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tags)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modified)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Published)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Title, "Edit", new { id = item.Id })
                        </td>
                        <td>
                            @Html.Raw(item.ShortDescription)
                        </td>
                        <td>
                            @Html.CategoryLink(item.Category)
                        </td>
                        <td>
                            @Helpers.Tags(Html, item.Tags)
                        </td>
                        <td>
                            @item.PostedOn.ToConfigLocalTime()
                        </td>
                        <td>
                            @item.Modified
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Published)
                        </td>

                        <td>
                            @Html.ActionLink(" ", "Edit", new { id = item.Id },
                new { @class = "btn btn-warning btn-sm glyphicon glyphicon-edit" })

                            @using (Html.BeginForm("Delete", "Admin"))
                            {
                                @Html.Hidden("id", item.Id)
                                <input type="submit" class="btn btn-danger btn-xs"
                                       onclick="return confirm('Are you sure you want to delete this Post?');"
                                       value="Delete" />
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>        
    }
    else
    {
        <p>No posts found!</p>
    }   

