@model IEnumerable<NewBlog.Domain.Entities.Tag>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Action("AddTag", "Admin")

    <table class="table" id="edit-post">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlSlug)
            </th>
            <th></th>
        </tr>

        @foreach (var tag in Model)
        {
            <tr>
                <td>
                    @Html.TagLink(tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tag.UrlSlug)
                </td>
                <td>
                    @using (Html.BeginForm("DeleteTag", "Admin"))
                    {
                        @Html.Hidden("id", tag.TagId)
                        <input type="submit" class="btn btn-danger btn-xs"
                               onclick="return confirm('Are you sure you want to delete this Tag?');"
                               value="Delete" />
                    }
                </td>
            </tr>
        }
    </table>

