@model NewBlog.Domain.Entities.Comment
@{
    Layout = null;
}
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-7">
            <div class="widget-area no-padding blank">
                <div class="status-upload">

                    @using (Html.BeginForm("AddComment", "Blog"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.PostId)
                        @Html.TextAreaFor(model => model.Description, new { placeholder = "Write here!" })

                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        <button type="submit" id="button-comment" class="btn btn-lg btn-success btn-block"><i class="fa fa-share"></i> Share</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
