@model NewBlog.WebUI.Models.CommentPostModel

@{
    ViewBag.Title = Model.Post.Title;
    int month = Model.Post.PostedOn.Month;
    string monthWord = System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetMonthName(month);
}

<div id="content">
    <div class="wrapper">
        <div class="ribbon ribbon-red">
            <time class="iconPost">
                <strong>@monthWord</strong>
                <span>@Model.Post.PostedOn.Day</span>
                <em>@Model.Post.PostedOn.DayOfWeek</em>
            </time>
            <div class="banner">
                <div class="text">@Html.CategoryLink(Model.Post.Category)</div>
            </div>
        </div>
        <div class="post-meta">
            <div class="row">
                <div class="post-title">
                    <center><h1 id="post-title">@Html.PostLink(Model.Post)</h1></center>
                </div>

            </div>
            <div class="row">
                <div class="post">
                    @Helpers.Tags(Html, Model.Post.Tags)
                </div>
            </div>
        </div>
        
        <div class="post-body">            
            @Html.Raw(Model.Post.Description)
            <div class="vid">
                <iframe width="560" height="315" src="@Url.Content(Model.Post.VdeoUrl)" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
     </div>
    <div id="commentId">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.Action("AddComment", "Blog", new { postId = Model.Post.Id })
        }
        
        @Html.Partial("_Comments", Model.Post.Comments)
    </div>
    
        


</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


